@if(robots.getValue()) {
    <div>
        <div style="margin-left: 20px;">
            <h3> Filter by Country </h3>

            <input class="search_bar" placeholder="Search a friend" aria-label="input" (input)="applyNameFilter($event)" />

            <app-icon-search> </app-icon-search>
    
            <div class="filters">
                @for(country of robotsCountry; track $index) {
                    <div class="filter" (click)="toggleActive(country)">
                        <p> {{ country }} </p>
                    </div>
                }
            </div>
        </div>
    
        <div class="robots">
            @for(robot of robots.getValue(); track robot.id) {
                <div class="robot">
                    <div class="icon-right" (click)="toggleFavorite(robot.id)">
                        @if(!robot.isFavorite) {
                            <app-icon-favorite> </app-icon-favorite>
                        }
                        @else {
                            <app-icon-unfavorite> </app-icon-unfavorite>
                        }
                    </div>
        
                    <span style="width: 100%; height: 100%;" (click)="getRobotInfo(robot.id)">
                        <img src="https://www.robohash.org/{{robot.name}}?50x50" alt="{{robot.name}}" />
        
                        <div class="infos">
                            <p> {{ robot.name }} </p>
                            <p> {{ robot.email }} </p>
                        </div>
                    </span>
                </div>
            }
        </div>
    </div>
}